.container{
    background-color: black;
    color: #fff;
    padding: 32px;
    width: 40%;
    margin: 6rem auto;
    border-radius: 10px;
}
.weather_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather_search_form{
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    border: 1px solid black;
}
.weather_search{
    position: relative;
}
.weather_search i{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
}
.units span{
    cursor: pointer;
}
.weather_body{
    text-align: center;
    margin-top: 30px;
}
.weather_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}
.weather_card{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}
.weather_card i{
    margin-right: 16px;
}
.days{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
}
.night{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.night_theme{
    background-color: black;
    color: #fff;
}
.days_theme{
    background-color: bisque;
    color: black;
}
.input_theme{
    background: transparent;
    color: black;
}